<div class="customModalStyle">
    <div class="modal-header">
        <h4>Security</h4>
    </div>
    <div class="modal-body">
        <h3 class="modal-title" style="font-size: 15px;text-align:left;">{{header}}</h3>
    </div>
    <div class="modal-footer customModalStyleFooter">
        <button class="btn btn-primary" style="background: #7F7F7F;color: white !important;border: #7F7F7F;text-align:center;width: 120px !important;" ng-click="ok()">Ok</button>
        <button class="btn btn-warning" style="background: #7F7F7F;color: white !important;border: #7F7F7F;text-align:center;width: 120px !important;" ng-click="cancel()">Cancel</button>
    </div>
</div>
